@{
	Layout = "_LayoutCustomer";
}

<!-- Single Page Header start -->
@RenderSection("BreadCum", required: false)
<!-- Single Page Header End -->
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
	<div class="container py-5">
		<h1 class="mb-4">Ecommerce Website</h1>
		<div class="row g-4">
			<div class="col-lg-12">
				<div class="row g-4">
					<div class="col-xl-3">
						<form name="SearchForm" asp-action="Search" asp-controller="HangHoa">
							<div class="input-group w-100 mx-auto d-flex">
								<input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="searchButton" name="query" id="searchText">
								<span id="searchButton" class="input-group-text p-3" onclick="SearchForm.submit()"><i class="fa fa-search"></i></span>
							</div>
						</form>
					</div>
					<div class="col-6"></div>
				</div>
				<div class="row g-4">
					<div class="col-lg-3">
						<div class="row g-4">
							@await Component.InvokeAsync("MenuLoai")
						</div>
					</div>
					<div class="col-lg-9">
						<div class="row g-4 justify-content-center">
							@RenderBody()
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Fruits Shop End-->